/* .todo-preview {
    text-align: center;
    padding: 0.3em;
    display: flex;
    flex-direction: column;
} */
/* .todo-preview h4{
    text-transform: capitalize;
    color: black;
} */



.todo-preview {
    display: flex;
    align-items: center;
    /* gap: 1.5em; */
    width: 100%;
    color: inherit;
}

.todo-preview .todo-text {
    flex-grow: 1;
}

.todo-preview.done {
    opacity: 0.55;
}

.todo-preview.done .todo-text {
    text-decoration: line-through;
    text-decoration-thickness: 2px;
}

li {
    border-bottom: 2px solid #ccc;
    cursor: pointer;
    color: rgb(114, 114, 114);
}

li h4 {
    font-size: 1.5rem;
    transition: 0.3s;
}

li h4:hover {
    font-size: 1.5rem;
    opacity: .8;
}